.a-content{
    display: flex;
    align-items: center;
    justify-content: center;
}
#cen-middle-container{
    padding-top: 20px;
    height: 100%;
    min-width: 490px;
}
.cen-conatent{
    border: 1px solid lightgray;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.cen-top-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid lightgray;
    background-color: #AAEDAD;
    height: 90px;
}
#cen-add-btn{
    float: right;
    height: 40px;
}
.cen-add-btn-div{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: inherit;
}
.cen-middle-container{
    padding: 10px;
}
#cen-search{
    max-width: 500px;
}
#cen-search:focus{
    -webkit-transition: all 0.2s ease-in-out;
}
.cen-bottom-container{
    overflow: auto;
    padding: 0;
    height: 40vh;
}
.cen-table{
    width: 100%;
}
.cen-table-head{
    background-color: 	#AAEDAD;
    padding-left: 10px;
    font-size: small;
}
#tbl-head-cell{
    padding-bottom: 20px;
    border: none;
    height: 60px;
}
.tbl-body-cell-padding-top{
    padding-top: 200px;
}
.cen-btn-add{
    padding: 0 10px 0 10px;
    border: 0;
    background-color: #0D4588;
    height: 40px;
    color: white;
    font-size: small;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}
.cen-btn-add:hover{
    -webkit-transition: all 0.3s ease-out;
    -webkit-transform: scale(1.05);
}
.cen-icons{
    background-color: #0D4588;
    border: 0px;
    font-size: larger;
    font-weight: bolder;
    color: white;

}
.tbl-body-row{
    height: 50px;
}
.tbl-body-row:hover{
    cursor: pointer;
    height: 50px;
    background: #94a7ff;
    -webkit-transition: all 0.3s ease;
}
#tbl-body-row-focus{
    background-color: #94a7ff;
}
.a-content:hover{
    color: white;
}
.cen-btn-sep{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 20px 5px 20px;
    width: 100px;
    height: 40px;
    float: right;
    border: none;
    background-color: #e6e6ff;
    font-size: x-large;
    border-radius: 5px;
}
.cen-btn-sep:hover{
    border: 2px solid #0D4588;
    -webkit-transition: all 0.3s ease-out;
    -webkit-transform: scale(1.05);
}