._red_border{
    border: 1px solid red;
}
._message_box{
    display: flex;
    justify-content: center;
    align-items: center;
}
._message_box_inner{
    width: 70%;
    display: grid;
    grid-template-columns: 40% 60%;
}
._message_box_item{
    width: 100%;
}
.message_icon{
}